.math-keyboard{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,minmax(60px, 1fr));
    grid-gap: 0.5em;
    min-height: 0;
}

.math-panel-keyboard-control{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    min-width: 100%;
    grid-gap: 0.1em;
}

.button-clear{
    min-width: 100%;
    height: 50%;
}

.button-add{
    min-width: 100%;
    height:50%;
}


.button-down{
    grid-row: 2;
    grid-column: 2;
}

.button-left{
    grid-row: 2;
}

.button-right{
    grid-row:2;
    grid-column: 3;
}

.button-up{
    grid-column: 2;
}


.body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.confirm-button{
    width: 25%;
}