.board{
    position: relative;
}

.math-list-container{
    position: absolute;
    top:5em;
    left:90%;
    z-index: 2;
}

.select-panel{
    position: absolute;
    top: 5em;
    left: 2em;
    z-index: 2;
}

.save-container{
    position: absolute;
    bottom: 2em;
    left: 1em;
    z-index: 2;
}
