.board{
    position: relative;
}

.panel{
    position: absolute;
    z-index: 2;
    top: 5em;
    left: 2em;
    height: 15em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 5em;
    display: list-item;
}

.panel-wrapper{
    position: relative;
}

.color-picker{
   position: absolute;
   left:2em;
}

.size-picker{
    position: absolute;
    top:2em;
    left:2em;
}

.mode-picker{
    position: absolute;
    left:2em;
    top:6.5em;
}

.math-picker{
    position: absolute;
    left:2em;
    top:9em;
}

.panning{
    position: absolute;
    left:1.2em;
    top:12em;
}

.select-delete-button{
  position:relative;
}
