.mode-panel-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#FFFFFF;
    position: absolute;
    left:4em;
    top:0em
}