
.panel{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 2em;
    text-align: center;
    min-height: 45%;
}
.color-picker{
   position: absolute;
   left:2em;
   top:2em;
}

.size-picker{
    position: absolute;
    top:3em;
    left:2em;
}

.mode-picker{
    position: absolute;
    left:2em;
    top:8em;
}

.text{
    position: absolute;
    left: 1em;
    top: 17em
}

.panning{
    position: absolute;
    left:1em;
    top:11em;
}

.select{
    position: absolute;
    left: 1em;
    top: 14em
}