
.panel{
    position: absolute;
    z-index: 2;
    top: 5em;
    left: 2em;
    height: 12em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 5em;
    display: list-item;
}

.panel-wrapper{
    position: relative;
}

.color-picker{
   position: absolute;
   left:2em;
   top:2em;
}

.size-picker{
    position: absolute;
    top:2em;
    left:2em;
}

.mode-picker{
    position: absolute;
    left:2em;
    top:6em;
}

.panning{
    position: absolute;
    left:1.2em;
    top:8em;
}

.select{
    position: absolute;
    left: 1.2em;
    top: 10em
}