.math-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    right: -5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    overflow-x: scroll;
    overflow:hidden;
    margin-bottom: 5px;
    color:white;
    text-align: center;
}

.math-field{
    width: 0;
    height: auto;
    min-width: 100%;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}